<div>
  <!--Espacio del menú para pruebas-->
  <div style="height: 47px;"></div>
  
  <table width="756px" border="0" cellspacing="0">
    <tbody>
      <tr>
        <td rowspan="4" colspan="2">
          <img [src]="logo" class="rpt-img">
        </td>
        <td colspan="4" align="center">
          <div class="rpt-label">
            <span class="center; rpt-font-9-b">{{titulo}}</span>
          </div>          
        </td>
      </tr>
      <tr>
        <td colspan="4" align="center">
          <div class="rpt-label">
            <span class="center; rpt-font-9-b">{{subTitulo}}</span>
          </div>          
        </td>
      </tr>
      <tr>
        <td colspan="4" align="center" style="height: 24px;">
          <div class="rpt-label">
            <span class="center; rpt-font-10-b">FORMATO DE SELECCIÓN DEL DONANTE</span>
          </div>          
        </td>
      </tr>
      <tr>
        <td width="20px" rowspan="3">
          &nbsp;
        </td>
        <td class="rpt-td-1">
          <div class="rpt-label">
            <span class="rpt-font-8">N° Postulante:</span>
          </div>
        </td>
        <td class="rpt-td-2">
          <div class="rpt-input-1">
            <span class="rpt-font-9">{{codigoPre}}</span>
          </div>
        </td>
        <td class="rpt-td-1" rowspan="3">
          <div class="rpt-input-2" style="line-height: 0.9; text-align: center;">
            <span class="rpt-font-7">Grupo Sanguíneo ABO<br>y Factor Rh</span>
            <br><br>
            <span class="rpt-font-10">{{grupoABO}}</span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="rpt-td-3" rowspan="2">
          <div class="rpt-label">
            <span class="rpt-font-7">Fecha (Día/mes/año)</span>
          </div>
        </td>
        <td class="rpt-td-1" rowspan="2">
          <div class="rpt-input-3">
            <span class="rpt-font-9-b">{{fechaDona}}</span>
          </div>
        </td>
        <td class="rpt-td-1">
          <div class="rpt-label">
            <span class="rpt-font-8">Código del Donante:</span>
          </div>
        </td>
        <td class="rpt-td-2">
          <div class="rpt-input-3">
            <span class="rpt-font-9-b">{{codDonacion}}</span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="rpt-td-1">
          <div class="rpt-label">
            <span class="rpt-font-8">{{tipDocu}}</span>
          </div>
        </td>
        <td class="rpt-td-2">
          <div class="rpt-input-1">
            <span class="rpt-font-8">{{numDocu}}</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <table width="756px" border="0" cellspacing="0">
    <tbody>
      <tr>
        <td colspan="2" style="width: 107px">
          <div class="rpt-label">
            <span class="rpt-font-8">TIPO DE DONANTE</span>
          </div>
        </td>
        <td colspan="2" class="rpt-td-3">
          <div class="rpt-label-r">
            <span class="rpt-font-8">Voluntario</span>
          </div>
        </td>
        <td class="rpt-td-4">
          <div class="rpt-input-b">
            <span class="rpt-font-8-b">{{xVoluntario}}</span>
          </div>
        </td>
        <td>
          &nbsp;
        </td>
        <td class="rpt-td-3">
          <div class="rpt-label-r">
            <span class="rpt-font-8">Autólogo</span>
          </div>
        </td>
        <td class="rpt-td-4">
          <div class="rpt-input-b">
            <span class="rpt-font-8-b">{{xAutologo}}</span>
          </div>
        </td>
        <td>
          &nbsp;
        </td>
        <td colspan="2" class="rpt-td-3">
          <div class="rpt-label-r">
            <span class="rpt-font-8">Reposición</span>
          </div>
        </td>
        <td class="rpt-td-4">
          <div class="rpt-input-b">
            <span class="rpt-font-8-b">{{xReposicion}}</span>
          </div>
        </td>
        <td>
          &nbsp;
        </td>
        <td colspan="2" class="rpt-td-3">
          <div class="rpt-label-r">
            <span class="rpt-font-8">Dirigida</span>
          </div>
        </td>
        <td class="rpt-td-4">
          <div class="rpt-input-b">
            <span class="rpt-font-8-b">{{xDirigida}}</span>
          </div>
        </td>
        <td class="rpt-td-1" rowspan="3">
          <div class="rpt-input-2" style="line-height: 0.9; text-align: center; height: 56px;">
            <span class="rpt-font-8">Hb y/o Hto</span>
            <br><br>
            <span class="rpt-font-8">{{hemoglobina}}&nbsp;&nbsp;&nbsp;&nbsp;{{hematocrito}}</span>
          </div>
        </td>
      </tr>
      <tr>
        <td class="rpt-td-3">
          <div class="rpt-label">
            <span class="rpt-font-8">Sangre Total</span>
          </div>
        </td>
        <td class="rpt-td-4">
          <div class="rpt-input-b">
            <span class="rpt-font-8-b">{{xSangre}}</span>
          </div>
        </td>
        <td class="rpt-td-3" style="width: 45px">
          <div class="rpt-label-r">
            <span class="rpt-font-8">Aféresis</span>
          </div>
        </td>
        <td class="rpt-td-4">
          <div class="rpt-input-b">
            <span class="rpt-font-8-b">{{xAferesis}}</span>
          </div>
        </td>
        <td colspan="2">
          <div class="rpt-label-r">
            <span class="rpt-font-8">Tubuladora</span>
          </div>
        </td>
        <td colspan="2" class="rpt-td-5">
          <div class="rpt-input-b">
            &nbsp;
          </div>
        </td>
        <td colspan="2">
          <div class="rpt-label-r">
            <span class="rpt-font-8">Extr. Desde</span>
          </div>
        </td>
        <td colspan="2" class="rpt-td-6">
          <div class="rpt-input-b">
            &nbsp;
          </div>
        </td>
        <td colspan="2">
          <div class="rpt-label-r">
            <span class="rpt-font-8">Extr. Hasta</span>
          </div>
        </td>
        <td colspan="2" class="rpt-td-6">
          <div class="rpt-input-b">
            &nbsp;
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="rpt-label">
            <span class="rpt-font-8-b">RECEPTOR</span>
          </div>
        </td>
        <td colspan="11">
          <div class="rpt-label">
            <span class="rpt-font-9">{{personaRelacion}}</span>
          </div>
        </td>
        <td colspan="2">
          <div class="rpt-label-r">
            <span class="rpt-font-8">Volumen:</span>
          </div>
        </td>
        <td colspan="2" class="rpt-td-6">
          <div class="rpt-input-b">
            &nbsp;
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <hr class="rpt-divider">
  <table width="756px" border="0" cellspacing="0">
    <tr>
      <td colspan="10">
        <div class="rpt-label">
          <span class="rpt-font-8-b">1. DATOS PERSONALES</span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">APELLIDO PAT.</span>
        </div>
      </td>
      <td colspan="2">
        <div class="rpt-input-1">
          <span class="rpt-font-8">{{apPaterno}}</span>
        </div>
      </td>
      <td colspan="2">
        <div class="rpt-label">
          <span class="rpt-font-8">APELLIDO MAT.</span>
        </div>
      </td>
      <td colspan="2" class="rpt-td-2">
        <div class="rpt-input-1">
          <span class="rpt-font-8">{{apMaterno}}</span>
        </div>
      </td>
    </tr>
    <!--tr>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">NOMBRES</span>
        </div>
      </td>
      <td colspan="7" class="rpt-td-2">
        <div class="rpt-input-1">
          <span class="rpt-font-8">{{primerNombre}}</span>
        </div>
      </td>
    </tr-->
    <tr>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">SEXO</span>
        </div>
      </td>
      <td>
        <div class="rpt-input-1">
          <span class="rpt-font-8">{{sexo}}</span>
        </div>
      </td>
      <td colspan="2">
        &nbsp;
      </td>
      <td colspan="2">
        <div class="rpt-label">
          <span class="rpt-font-8">EDAD (Años cumplidos)</span>
        </div>
      </td>
      <td>
        <div class="rpt-input-1">
          <span class="rpt-font-8">{{edad}}</span>
        </div>
      </td>
    </tr>
    <!--tr>
      <td>
        <div colspan="2" class="rpt-label">
          <span class="rpt-font-8">LUGAR DE NACIMIENTO</span>
        </div>
      </td>
      <td class="rpt-td-2">
        <div class="rpt-input-1">
          <span class="rpt-font-8">{{lugarNacimiento}}</span>
        </div>
      </td>
      <td>
        &nbsp;
      </td>
      <td colspan="2">
        <div class="rpt-label">
          <span class="rpt-font-8">FECHA DE NACIMIENTO</span>
        </div>
      </td>
      <td class="rpt-td-2">
        <div class="rpt-input-1">
          <span class="rpt-font-8">{{fecNacimiento}}</span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">PROCEDENCIA</span>
        </div>
      </td>
      <td colspan="2" class="rpt-td-2">
        <div class="rpt-input-1">
          <span class="rpt-font-8">{{procedencia}}</span>
        </div>
      </td>
      <td>
        &nbsp;
      </td>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">ESTADO CIVIL</span>
        </div>
      </td>
      <td colspan="2" class="rpt-td-2">
        <div class="rpt-input-1">
          <span class="rpt-font-8">{{estadoCivil}}</span>
        </div>
      </td>
    </tr-->
  </table>
  <table width="756px" border="0" cellspacing="0">
    <tr>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">DOMICILIO</span>
        </div>
      </td>
      <td colspan="9" class="rpt-td-2">
        <div class="rpt-input-1">
          <span class="rpt-font-8">{{direccion}}</span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">DISTRITO</span>
        </div>
      </td>
      <td colspan="2" class="rpt-td-2">
        <div class="rpt-input-1">
          <span class="rpt-font-8">{{direccion}}</span>
        </div>
      </td>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">PROV.</span>
        </div>
      </td>
      <td colspan="2" class="rpt-td-2">
        <div class="rpt-input-1">
          <span class="rpt-font-8">{{provincia}}</span>
        </div>
      </td>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">DPTO.</span>
        </div>
      </td>
      <td colspan="2" class="rpt-td-2">
        <div class="rpt-input-1">
          <span class="rpt-font-8">{{departamento}}</span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">OCUPACIÓN</span>
        </div>
      </td>
      <td colspan="2" class="rpt-td-2">
        <div class="rpt-input-1">
          <span class="rpt-font-8">{{ocupacion}}</span>
        </div>
      </td>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">TELEF.</span>
        </div>
      </td>
      <td colspan="2" class="rpt-td-2">
        <div class="rpt-input-1">
          <span class="rpt-font-8">{{telefono}}</span>
        </div>
      </td>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">CEL.</span>
        </div>
      </td>
      <td colspan="2" class="rpt-td-2">
        <div class="rpt-input-1">
          <span class="rpt-font-8">{{celular}}</span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">E-MAIL</span>
        </div>
      </td>
      <td colspan="4" class="rpt-td-2">
        <div class="rpt-input-1">
          <span class="rpt-font-8">{{correo}}</span>
        </div>
      </td>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">LUGAR DE TRABAJO</span>
        </div>
      </td>
      <td colspan="2" class="rpt-td-2">
        <div class="rpt-input-1">
          <span class="rpt-font-8">{{lugarTrabajo}}</span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">VIAJES</span>
        </div>
      </td>
      <td colspan="2" class="rpt-td-2">
        <div class="rpt-input-1">
          <span class="rpt-font-8">{{viajes}}</span>
        </div>
      </td>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">PERMANENCIA</span>
        </div>
      </td>
      <td colspan="2" class="rpt-td-2">
        <div class="rpt-input-1">
          <span class="rpt-font-8">{{permanencia}}</span>
        </div>
      </td>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">FECHA</span>
        </div>
      </td>
      <td colspan="2" class="rpt-td-2">
        <div class="rpt-input-1">
          <span class="rpt-font-8">{{fechaViaje}}</span>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="rpt-label">
          <span class="rpt-font-8">OTROS</span>
        </div>
      </td>
      <td colspan="9" class="rpt-td-2">
        <div class="rpt-input-1">
          <span class="rpt-font-8">{{otrosRecepcion}}</span>
        </div>
      </td>
    </tr>
  </table>
  <hr class="rpt-divider">
  <table width="756px" border="0" cellspacing="0">
    <tr>
      <td colspan="2">
        <div class="rpt-label">
          <span class="rpt-font-8-b">2. EXAMEN FÍSICO</span>
        </div>
      </td>
      <td colspan="7">
        <div class="rpt-label">
          <span class="rpt-font-7">Para ser llenado por el examinador</span>
        </div>
      </td>
    </tr>
  </table>
</div>