<div>
  <!--Espacio del menú para pruebas-->
  <div style="height: 47px;"></div>
  <div>
    HOLA
  </div>
  <img [src]="logo" style="width: 160px; height: 120px;">
  <h1 class="center">Título</h1>
  <input [(ngModel)]="primerNombre">

    <div style="display: flex; flex-direction:row; flex-wrap: wrap;">
      <div style="width: 50%;">
        <p style="font-weight: 600; margin: 0 0 0px;">{{tipDocu}}</p>
      </div>
    </div>
    <div style="display: flex; flex-direction:row; flex-wrap: wrap;">
    <div style="width: 50%;">
        <p style="font-weight: 600; margin: 0 0 0px;">{{numDocu}}</p>
    </div>
    </div>
    <div style="display: flex; flex-direction:row; flex-wrap: wrap;">
        <div style="width: 50%;">
          <p style="font-weight: 600; margin: 0 0 0px;">{{primerNombre}}</p>
        </div>
      </div>
      <div style="display: flex; flex-direction:row; flex-wrap: wrap;">
        <div style="width: 50%;">
          <p style="font-weight: 600; margin: 0 0 0px;">{{apPaterno}}</p>
        </div>
      </div>
</div>