td {
    vertical-align: middle;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
    height: 22px;
    /*Para ver como se divide la tabla*/
    border-style: outset;
    border-width: 1px;
    border-color: blue;
}

.rpt-img{
    width: 128px;
    aspect-ratio: auto 128 / 96;
    height: 96px;
}

.rpt-input-1{
    border-style: solid;
    border-width: thin;
    height: 20px;
}

.rpt-input-1 .rpt-font-8{
    margin-left: 5px;
}

.rpt-input-1 .rpt-font-9{
    margin-left: 5px;
}

.rpt-input-2 .rpt-font-7{
    margin-left: 0px;
    vertical-align: sub;
}

.rpt-input-2 .rpt-font-8{
    margin-left: 0px;
    vertical-align: sub;
}

.rpt-input-3 .rpt-font-9-b{
    margin-left: 5px;
    vertical-align: sub;
}

.rpt-input-1 .rpt-font-10{
    margin-left: 5px;
}

.rpt-input-2{
    border-style: solid;
    border-width: thin;
    height: 70px;
}

.rpt-input-3{
    border-style: solid;
    border-width: thin;
    height: 31px;
}

.rpt-input-b{
    border-style: solid;
    border-width: 2px;
    height: 20px;
}

.rpt-label{
    border-style: none;
    height: 21px;
    line-height: 0.9;
}

.rpt-label-r{
    border-style: none;
    height: 21px;
    line-height: 0.9;
    text-align: right;
}

.rpt-td-1{
    width: 112px;
}

.rpt-td-2{
    width: 248px;
}

.rpt-td-3{
    width: 60px;
}

.rpt-td-4{ /*Para X*/
    width: 36px;
    text-align: center;
}

.rpt-td-5{
    width: 85px;
}

.rpt-td-6{
    width: 53px;
}

.rpt-font-7{
    font-size: 7pt;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
}

.rpt-font-8{
    font-size: 8pt;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
}

.rpt-font-9{
    font-size: 9pt;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
}

.rpt-font-10{
    font-size: 10pt;
    color: #000000;
    font-family: Arial;
    font-weight: normal;
}

.rpt-font-8-b{
    font-size: 8pt;
    color: #000000;
    font-family: Arial;
    font-weight: bold;
}

.rpt-font-9-b{
    font-size: 9pt;
    color: #000000;
    font-family: Arial;
    font-weight: bold;
}

.rpt-font-10-b{
    font-size: 10pt;
    color: #000000;
    font-family: Arial;
    font-weight: bold;
}

.rpt-divider{
    border-color: black;
    height: 0px;
    margin-block-start: 0.2em;
    width: 756px;
    display: table-caption;
}