<mat-toolbar color="primary" class="example-toolbar submenu example-button">
    <div class="example-button-row">
      <button mat-stroked-button class="btnHeader" (click)="actualizar()">
        <mat-icon class="maticon">syncalt</mat-icon>
      </button>
      <button mat-stroked-button class="btnHeader" (click)="abrirBusqueda()">
        <mat-icon class="maticon">filter_alt</mat-icon>
      </button>
      <button *ngIf="permiso.guardar" mat-stroked-button class="btnHeader" routerLink="/page/paciente/solicitud/create">
        <mat-icon class="maticon">add</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  
  <div class="container">  
    <mat-card class="cardborde">   
      <mat-toolbar class="cardtitle"></mat-toolbar>
      <h2 class="title-label"> LISTA SOLICITUDES</h2>
      <mat-divider></mat-divider>
      <form>     
        
        <div class="example-loading-shade" *ngIf="loading || existRegistro">
          <mat-spinner *ngIf="loading"></mat-spinner>
          <div class="example-rate-limit-reached" *ngIf="existRegistro">
            No se encontraron registros.
          </div>
        </div>
  
        <div class="example-container mat-elevation-z0">
          <mat-table [dataSource]="dataSource" matSort>           
              
            <ng-container matColumnDef="codigoW">
                <mat-header-cell *matHeaderCellDef [ngClass]="'widthTable web'">Código</mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="'widthTable web'" data-label="Código"> 
                  <div class="tbcodigo">{{element.codSolicitud}}</div>     
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="codigoM">
                <mat-header-cell *matHeaderCellDef [ngClass]="'widthTable mobil'">Mobil</mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="'widthTable mobil'">
                  <div class="tbcodigo" style="font-weight: bold;">{{element.codSolicitud}}</div>
                  <div style="margin-left:auto;" class="responsive-fecha">
                    {{element.vFecha}}
                  </div>
                </mat-cell>
              </ng-container>

            <ng-container matColumnDef="fecha">
                <mat-header-cell *matHeaderCellDef [ngClass]="'widthTable web'">Fecha</mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="'widthTable web'" data-label="Código">{{element.vFecha}}</mat-cell>
            </ng-container>
          
            <ng-container matColumnDef="paciente">
              <mat-header-cell *matHeaderCellDef [ngClass]="'web'"> Paciente </mat-header-cell>
              <mat-cell *matCellDef="let element" data-label="Paciente"> {{element.paciente}} </mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="estado">
              <mat-header-cell *matHeaderCellDef [ngClass]="'web'"> Estado </mat-header-cell>
              <mat-cell *matCellDef="let element" [ngClass]="'web'" data-label="Estado"> <span style="font-weight: 500">{{element.estado}} </span></mat-cell>
            </ng-container>

            <ng-container matColumnDef="requisito">
                <mat-header-cell *matHeaderCellDef [ngClass]="'web'"> Prioridad </mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="'web'" data-label="Requisito">{{getDescripcion(element.codPrioridad,tbPriori)}}</mat-cell>
              </ng-container>
  
            <ng-container matColumnDef="accion">
                <mat-header-cell *matHeaderCellDef [ngClass]="'widthTable web'"> </mat-header-cell>
                <mat-cell *matCellDef="let element" [ngClass]="'widthTable web'" data-label="Accion">            
                  <a *ngIf="permiso.guardar && permiso.ver" class="pointer edit" matTooltip="Editar" [routerLink]="['edit', element.ideSolicitud, permiso.guardar]">
                    <mat-icon>edit</mat-icon>
                  </a>
                  <a *ngIf="!permiso.guardar && permiso.ver" class="pointer edit" matTooltip="Ver" [routerLink]="['edit', element.ideSolicitud, permiso.guardar]">
                    <mat-icon>visibility</mat-icon>
                  </a>
                  <a *ngIf="permiso.guardar && permiso.ver && element.ideEstado === 1" class="pointer edit" matTooltip="Eliminar" type="button" (click)="cancelar(element.ideSolicitud, element.ideEstado)">
                    <mat-icon>delete</mat-icon>
                  </a>
                </mat-cell>
            </ng-container>   
                        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          
          </mat-table>
          <mat-paginator 
            [length]="countRegistro" 
            [pageSizeOptions]="[5, 10, 20]" 
            showFirstLastButtons 
            aria-label="Seleccione página de postulantes">
          </mat-paginator>
        </div>
  
      </form>    
    </mat-card>
  </div>