<app-spinner></app-spinner>

<div class="example-container" style="height: 100vh;"> 
  <mat-toolbar color="primary">

    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <a mat-button>      
      <img style="width: 41px;" src="{{logo}}"/>
      <span *ngIf="count" > 
        <mat-form-field style="padding-left:12px;width:260px;font-weight:500">
          <mat-select 
          [(ngModel)]="codigo"
          (selectionChange)="selectbanco($event.value)"
          >
            <mat-option *ngFor="let el of menus.listaBanco" [value]="el.codigo">
            {{el.descripcion}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </span>
      <span *ngIf="!count" style="padding-left:12px;font-size:13px;font-weight:500">{{banco}}</span>
    </a>

    <span class="example-spacer"></span>

    <div fxShow="true" fxHide.lt-md="true" class="menu">
      <nav class="nav1">
        <ul>
            <li *ngFor="let m of menus.listaMenu">
              <a *ngIf="m.url=='/page/home'" routerLink="{{m.url}}">{{m.modulo}}</a>
              <a *ngIf="m.url!='/page/home'">{{m.modulo}}</a>
              <ul>
                <li *ngFor="let s of m.listaSubMenu">
                  <a routerLink="{{s.url}}">{{s.pantalla}}</a>
                </li>
              </ul>
            </li>
        </ul>
      </nav>
    </div>

    <a id="closemenu" class="close" mat-mini-fab color="red" (click)="closeLogin()">
      <mat-icon>highlight_off</mat-icon>    
    </a>    
     
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
      <div class="menu-header-bg">Menu</div>
      <div class="header-content">
        <img src="{{user}}" />
        <label>
          <h2>Francisco Pedro</h2>
          <h2>Condor Martinez</h2>
          <p>45036143</p>
        </label>
      </div>
      <div fxLayout="column">
        
        <mat-accordion class="example-headers-align">
          <div hideToggle *ngFor="let m of menus.listaMenu">
            
            <mat-expansion-panel *ngIf="m.url=='/page/home'" disabled="">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <a style="font-size: 17px;font-weight: 400;" *ngIf="m.url=='/page/home'" routerLink="" (click)="closeLogin()">
                    <mat-icon>cancelpresentation</mat-icon>
                    Cerrar
                  </a>
                </mat-panel-title>
              </mat-expansion-panel-header>
            </mat-expansion-panel> 


            <mat-expansion-panel *ngIf="m.url=='/page/home'" disabled="">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <a style="font-size: 17px;font-weight: 400;" *ngIf="m.url=='/page/home'" routerLink="{{m.url}}">
                    <mat-icon>home</mat-icon>
                    {{m.modulo}}
                  </a>
                </mat-panel-title>
              </mat-expansion-panel-header>
            </mat-expansion-panel>  

            <mat-expansion-panel *ngIf="m.url!='/page/home'">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <a style="font-size: 17px;font-weight: 400;" *ngIf="m.url!='/page/home'">
                    <mat-icon>peopleoutline</mat-icon>
                    {{m.modulo}}
                  </a>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p class="submenu" *ngFor="let s of m.listaSubMenu">
                <a style="font-size: 17px;font-weight: 400;" routerLink="{{s.url}}">
                  <mat-icon>menuopen</mat-icon>
                  {{s.pantalla}}
                </a>
              </p>
            </mat-expansion-panel>  

          </div>       
        </mat-accordion>

      </div>
    </mat-sidenav>

    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
   </mat-sidenav-content>

  </mat-sidenav-container>

</div>