<app-spinner></app-spinner>

<div class="example-container" style="height: 100vh;"> 
  <mat-toolbar color="primary">

    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <a mat-button class="companyName" routerLink="/">      
      <img style="width: 51px;" src="../../../../assets/logoMenu.png"/>
      <span style="font-size: 20px;"> 
        <mat-form-field>
          <mat-select 
          placeholder="Seleccione Banco" 
          formControlName="nIdCliente">
            <mat-option *ngFor="let el of menus.listaBanco" [value]="el.codigo">
            {{el.descripcion}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </span>
    </a>

    <span class="example-spacer"></span>

    <div fxShow="true" fxHide.lt-md="true" class="menu">
      <nav>
        <ul>
            <li *ngFor="let m of menus.listaMenu">
              <a *ngIf="m.url=='/page/home'" routerLink="{{m.url}}">{{m.modulo}}</a>
              <a *ngIf="m.url!='/page/home'">{{m.modulo}}</a>
              <ul>
                <li *ngFor="let s of m.listaSubMenu">
                  <a routerLink="{{s.url}}">{{s.pantalla}}</a>
                </li>
              </ul>
            </li>
        </ul>
      </nav>
    </div>

    <a class="close" mat-mini-fab color="red" (click)="closeLogin()">
      <mat-icon>highlight_off</mat-icon>    
    </a>    
     
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
      <div fxLayout="column" *ngFor="let m of menus.listaMenu">

          <a class="menu" mat-button routerLink="{{m.url}}">
              {{m.modulo}}
          </a>
      </div>
    </mat-sidenav>

    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
   </mat-sidenav-content>

  </mat-sidenav-container>

</div>