<mat-toolbar color="primary" class="example-toolbar submenu">
    <div class="example-button-row">  

        <button mat-stroked-button color="accent" routerLink="/page/donante/aspirantelight">
          <mat-icon class="maticon">westsharp</mat-icon>
        </button>
        <button mat-stroked-button color="primary" routerLink="/page/donante/aspirantelight">
          <mat-icon class="maticon">save</mat-icon>
        </button>

    </div>
</mat-toolbar>


<div class="container">
  <mat-card class="cardborde">
      <mat-toolbar class="cardtitle"></mat-toolbar>
      <h2 class="title-label"> CREAR POSTULANTES</h2>
      <mat-divider></mat-divider>
      <form id="ngForm" [formGroup]="form" #frmGrupo="ngForm">
        <mat-stepper labelPosition="bottom" #stepper>
            
          <mat-step>
            <ng-template matStepLabel>Datos principales</ng-template>
            <mat-form-field appearance="outline">
              <mat-label>Código</mat-label>
              <input matInput placeholder="Código" formControlName="Codigo">
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Tipo de documento" formControlName="TipDocu" required>
                <mat-option *ngFor="let el of tbTipoDocu" [value]="el.codigo">
                  {{el.descripcion}}
                </mat-option>              
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Documento</mat-label>
              <input matInput placeholder="Documento" formControlName="NumDocu" minlength="1" maxlength="50" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Apellido Paterno</mat-label>
              <input matInput placeholder="Apellido Paterno" formControlName="ApPaterno" minlength="1" maxlength="100" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Apellido Materno</mat-label>
              <input matInput placeholder="Apellido Materno" formControlName="ApMaterno" minlength="1" maxlength="100" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Nombres</mat-label>
              <input matInput placeholder="Nombres" formControlName="Nombres" minlength="1" maxlength="200" required>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Género" formControlName="Sexo">
                <mat-option *ngFor="let el of ['M','F']" [value]="el">
                  {{el}}
                </mat-option>              
              </mat-select>
            </mat-form-field>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Datos secundarios</ng-template>
            <mat-form-field appearance="outline">
              <mat-label>Fecha de nacimiento</mat-label>
              <input matInput [matDatepicker]="FecNacimiento" [min]="minDate" [max]="maxDate" placeholder="dd/mm/aaaa" formControlName="FecNacimiento" required>
              <mat-datepicker-toggle matSuffix [for]="FecNacimiento"></mat-datepicker-toggle>
              <mat-datepicker #FecNacimiento></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="País" formControlName="CodPais" (selectionChange)="changePais($event.value)">
                <mat-option *ngFor="let el of tbPais" [value]="el">
                  {{el.descripcion}}
                </mat-option>              
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="selectedPais.codigo === '01'">
              <mat-label>Distrito</mat-label>
              <input type="text" matInput formControlName="CodDistrito" [formControl]="controlDistritos" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="mostrarDistrito">
                <mat-option *ngFor="let el of filterDistritos | async" [value]="el">
                  {{el.dist!.descripcion}}, {{el.prov!.descripcion}}, {{el.dpto!.descripcion}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Celular</mat-label>
              <input matInput placeholder="Celular" formControlName="Celular">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Teléfono</mat-label>
              <input matInput placeholder="Teléfono" formControlName="Telefono">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Correo</mat-label>
              <input matInput placeholder="Correo" formControlName="Correo">
            </mat-form-field>
            <button mat-stroked-button color="primary">Sí Donó</button>
            <button mat-flat-button color="primary">No Donó</button>
          </mat-step>
        </mat-stepper>
      </form>
  </mat-card>    
</div>

