<mat-toolbar color="primary" class="example-toolbar submenu">
    <div class="example-button-row">
      <button mat-flat-button class="btnHeader" routerLink="/page/donante/aspirante">
        <mat-icon class="maticon">west</mat-icon>
      </button>

    </div>
  </mat-toolbar>
  
  <div class="container">  
  <mat-card class="cardborde">   
    <mat-toolbar class="cardtitle"></mat-toolbar>
  
    <div class="container">

      <div class="container">
        <h1>TechGeekNext Upload Image Example</h1>
        <br>
        <form>
            <div class="form-group">
                <img [src]="imageUrl"  style="width:250px;height:200px">
                <br>
                <input type="file" (change)="upload($event)">
                <br>
                <button (click)="guardar()">Guardar Foto</button>
                <br>
                <button (click)="obtener()">Mostrar Foto</button>
            </div>
            <br>
    
        </form>
    </div>

      </div>

  </mat-card>
  </div>
  
    