<mat-toolbar color="primary" class="example-toolbar submenu">
  <div class="example-button-row">
    <button mat-flat-button class="btnHeader" routerLink="/page/donante/aspirante">
      <mat-icon class="maticon">west</mat-icon>
    </button>
    <button mat-flat-button class="btnHeader">
      <mat-icon class="maticon">save</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div class="container">  
<mat-card class="cardborde">   
  <mat-toolbar class="cardtitle"></mat-toolbar>

  <h2 class="title-label"> CREAR CHEQUEO</h2>
  <mat-divider></mat-divider>
  
  <div id="content"> 
      <div style="width: 100%; float:left"> 
          <div style="text-align: center; color: #1a0da4; font-weight:500">FRANCISCO PEDRO CONDOR MARTINEZ</div> 
          <div style="text-align: center; color: #1a0da4; font-weight:600">45036143</div> 
      </div> 
  </div>
  <br style="clear:both;"/>

  <form style="padding-top: 0px;margin:10px;" id="ngForm" #frmGrupo="ngForm" (ngSubmit)="guardar()">
    <mat-stepper labelPosition="bottom" #stepper>
      <mat-step>
        <ng-template matStepLabel>Datos 1</ng-template>
        <div class="content">
          <div fxLayout="row wrap" fxLayoutGap="16px grid">

              <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="50%">  

                <mat-form-field appearance="outline">
                    <mat-label>Codigo</mat-label>
                    <input matInput formControlName="NumDocu" minlength="1" maxlength="15" required>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Tipo Extracción</mat-label>
                  <mat-select formControlName="nIdTipoExtraccion">
                    <mat-option *ngFor="let c of listaTipoExtraccion" [value]="c.codigo">
                     {{c.descripcion}}
                    </mat-option>
                  </mat-select>
              </mat-form-field>

                <mat-grid-list cols="12" rowHeight="80px" gutterSize="15px">
                  <mat-grid-tile [colspan]="4">
                    <mat-form-field appearance="outline">
                      <mat-label>Peso</mat-label>
                      <input matInput formControlName="ApPaterno" minlength="1" maxlength="100" required>
                    </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile [colspan]="4">
                    <mat-form-field appearance="outline">
                      <mat-label>Talla</mat-label>
                      <input matInput formControlName="ApPaterno" minlength="1" maxlength="100" required>
                    </mat-form-field>
                  </mat-grid-tile>
                </mat-grid-list>

                <mat-grid-list cols="12" rowHeight="80px" gutterSize="15px">
                  <mat-grid-tile [colspan]="4">
                    <mat-form-field appearance="outline">
                      <mat-label>Hemoglobina</mat-label>
                      <input matInput formControlName="ApPaterno" minlength="1" maxlength="100" required>
                    </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile [colspan]="4">
                    <mat-form-field appearance="outline">
                      <mat-label>Hematocrito</mat-label>
                      <input matInput formControlName="ApPaterno" minlength="1" maxlength="100" required>
                    </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile [colspan]="4">
                    <mat-form-field appearance="outline">
                      <mat-label>Plaquetas</mat-label>
                      <input matInput formControlName="ApPaterno" minlength="1" maxlength="100" required>
                    </mat-form-field>
                  </mat-grid-tile>
                </mat-grid-list>

                <mat-grid-list cols="12" rowHeight="80px" gutterSize="15px">
                  <mat-grid-tile [colspan]="3">
                    <mat-form-field appearance="outline">
                      <mat-label>Presion Arterial 1</mat-label>
                      <input matInput formControlName="ApPaterno" minlength="1" maxlength="100" required>
                    </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile [colspan]="2">
                    <div style="font-size:37px;color:#cc1e42;font-weight:800;">/</div>
                  </mat-grid-tile>
                  <mat-grid-tile [colspan]="3">
                    <mat-form-field appearance="outline">
                      <mat-label>Presion Arterial 2</mat-label>
                      <input matInput formControlName="ApPaterno" minlength="1" maxlength="100" required>
                    </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile [colspan]="4">
                    <mat-form-field appearance="outline">
                      <mat-label>Frec. Card</mat-label>
                      <input matInput formControlName="ApPaterno" minlength="1" maxlength="100" required>
                    </mat-form-field>
                  </mat-grid-tile>
                </mat-grid-list>
                 
              </div>

          </div>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Datos 2</ng-template>
        <div class="content">
          <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="50%">
              <mat-form-field appearance="outline">
                <mat-label>Grupo ABO</mat-label>
                <mat-select >
                  <mat-option>Todos</mat-option>  
                </mat-select>
              </mat-form-field>  
              <mat-form-field appearance="outline">
                <mat-label>Aspecto General</mat-label>
                <mat-select formControlName="nIdTipoExtraccion">
                  <mat-option *ngFor="let c of listaAspectoGeneral" [value]="c.codigo">
                   {{c.descripcion}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Lesiones Area de Punción</mat-label>
                <mat-select >
                  <mat-option>Todos</mat-option>  
                </mat-select>
              </mat-form-field> 
              <mat-form-field appearance="outline">
                <mat-label>Estado Venoso</mat-label>
                <mat-select formControlName="nIdTipoExtraccion">
                  <mat-option *ngFor="let c of listaAspectoVenoso" [value]="c.codigo">
                   {{c.descripcion}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Observaciones</mat-label>
                <input matInput formControlName="NumDocu" minlength="1" maxlength="15" required>
              </mat-form-field>
              <mat-grid-list cols="12" rowHeight="80px" gutterSize="15px">
                <mat-grid-tile [colspan]="4">
                  <mat-form-field appearance="outline">
                    <mat-label>Temperatura °C</mat-label>
                    <input matInput formControlName="ApPaterno" minlength="1" maxlength="100" required>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="4">
                  <mat-form-field appearance="outline">
                    <mat-label>Estado</mat-label>
                    <input matInput formControlName="ApPaterno" minlength="1" maxlength="100" required>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="4">
                  <mat-form-field appearance="outline">
                    <mat-label>Fecha Chequeo</mat-label>
                    <input matInput formControlName="ApPaterno" minlength="1" maxlength="100" required>
                  </mat-form-field>
                </mat-grid-tile>
              </mat-grid-list>
            </div>
          </div>
        </div>
      </mat-step>
    </mat-stepper>
  </form>
 
</mat-card>
</div>

  