<mat-toolbar color="primary" class="example-toolbar submenu">
    <div class="example-button-row">
      <button mat-flat-button class="btnHeader" routerLink="/page/donante/aspirante">
        <mat-icon class="maticon">west</mat-icon>
      </button>
      <button mat-flat-button class="btnHeader">
        <mat-icon class="maticon">save</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  
  <div class="container">  
  <mat-card class="cardborde">   
    <mat-toolbar class="cardtitle"></mat-toolbar>

    <h2 class="title-label"> CREAR CHEQUEO</h2>
    <mat-divider></mat-divider>
    
    <div id="content"> 
        <div style="width: 100%; float:left"> 
            <div style="text-align: center; color: #1a0da4; font-weight:500">FRANCISCO PEDRO CONDOR MARTINEZ</div> 
            <div style="text-align: center; color: #1a0da4; font-weight:600">45036143</div> 
        </div> 
    </div>
    <br style="clear:both;"/>

    <form style="padding-top: 0px;" id="ngForm" #frmGrupo="ngForm">
      <h1>Estamos trabajando</h1>
    </form>
   
  </mat-card>
  </div>
  