<mat-toolbar color="primary" class="example-toolbar submenu">
    <div class="example-button-row">
        <button mat-stroked-button color="warn" routerLink="/page/donante/aspirantelight/create">
          <mat-icon class="maticon">feed</mat-icon>
        </button>          
    </div>
  </mat-toolbar>

<div class="container">  
  <mat-card class="cardborde">   
    <mat-toolbar class="cardtitle"></mat-toolbar>
    <h2 class="title-label"> LISTA POSTULANTES</h2>
    <mat-divider></mat-divider>
    <form>     
      <mat-form-field appearance="outline">
        <mat-label>Búsqueda</mat-label>
        <input matInput placeholder="Búsqueda" #input>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      
      <div class="example-loading-shade" *ngIf="loading || existRegistro">
        <mat-spinner *ngIf="loading"></mat-spinner>
        <div class="example-rate-limit-reached" *ngIf="existRegistro">
          No se encontraron registros.
        </div>
      </div>

      <div class="example-container mat-elevation-z0">
        <mat-table [dataSource]="dataSource" matSort>
      
        
          
          <ng-container matColumnDef="codigo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Código </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Código"> {{element.codigo}} </mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="nombres">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Nombres"> {{element.nombres}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="estado">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Estado">
                <mat-icon class="{{claseColor}}-{{element.codEstado}}">
                    brightness_1
                </mat-icon>
            </mat-cell>
          </ng-container>          
              
          <ng-container matColumnDef="accion">
              <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>
              <mat-cell *matCellDef="let element" style="text-align: right;">
                  <a *ngIf="permiso.ver" class="pointer ver" matTooltip="Ver" [routerLink]="['ver', element.nIdGrupo, true]">
                    <mat-icon>visibility</mat-icon>
                 </a>
                 <a *ngIf="permiso.actualizar" class="pointer edit" matTooltip="Editar" [routerLink]="['edit', element.nIdGrupo]">
                   <mat-icon>edit</mat-icon>
                </a>
              </mat-cell>
            </ng-container>
          
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
         
        </mat-table>
        <mat-paginator 
          [length]="countRegistro" 
          [pageSizeOptions]="[5, 10, 20]" 
          showFirstLastButtons 
          aria-label="Select page of users">
        </mat-paginator>
      </div>

    </form>    
  </mat-card>
</div>