<div style="padding-top:69px;margin-left:12px;margin-right:12px;">

    <h1 class="m-section__title">Bienvenido : <span class="m-section__title2">{{usuario}}</span></h1>

    <div style="flex-flow: row wrap; box-sizing: border-box; display: flex;">

        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" class="p-2" style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;">
            <mat-card class="gradient-orange tile p-2">
                <mat-icon>group</mat-icon>
                <h2>2400</h2>
                <p>Postulante</p>
            </mat-card>
        </div>

        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" class="p-2" style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;">
            <mat-card class="gradient-red tile p-2">
                <mat-icon>pregnant_woman</mat-icon>
                <h2>2300</h2>
                <p>Tamisaje</p>
            </mat-card>
        </div>

        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" class="p-2" style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;">
            <mat-card class="gradient-green tile p-2">
                <mat-icon>pie_chart</mat-icon>
                <h2>1200</h2>
                <p>Producción</p>
            </mat-card>
        </div>

        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" class="p-2" style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;">
            <mat-card class="gradient-brown tile p-2">
                <mat-icon>save_alt</mat-icon>
                <h2>2229</h2>
                <p>Otros 2</p>
            </mat-card>
        </div>


    </div>

    <mat-divider></mat-divider>

    <div style="flex-flow: row wrap; box-sizing: border-box; display: flex;">

        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%" class="p-2" style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;">
            <mat-card class="mat-card mat-focus-indicator">
                <mat-card-content>
                    <div>
                        <mat-card-title class="cardtitles">POSTULANTES SEGÚN ESTADO</mat-card-title>
                    </div>
                    <div style="flex-flow: row wrap; box-sizing: border-box; display: flex;">

                        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%" class="p-2" style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;">
                            <mat-form-field appearance="outline">
                                <mat-label>Fecha Inicio</mat-label>
                                <input matInput [matDatepicker]="fechaInicio1" placeholder="dd/mm/yyyy" [max]="fechaInicio1" 
                                [(ngModel)]="fechaSelectInicio1"  (dateChange)="onDateChange(1)">
                                <mat-datepicker-toggle matSuffix [for]="fechaInicio1"></mat-datepicker-toggle>
                                <mat-datepicker #fechaInicio1></mat-datepicker>
                              </mat-form-field>
                        </div>
                
                        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%" class="p-2" style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;">
                            <mat-form-field appearance="outline">
                                <mat-label>Fecha Fin</mat-label>
                                <input matInput [matDatepicker]="fechaFin1" placeholder="dd/mm/yyyy" [max]="fechaFin1" 
                                [(ngModel)]="fechaSelectFin1" (dateChange)="onDateChange(1)">
                                <mat-datepicker-toggle matSuffix [for]="fechaFin1"></mat-datepicker-toggle>
                                <mat-datepicker #fechaFin1></mat-datepicker>
                              </mat-form-field>
                        </div>                
                    </div>
                    <div id="chart" *ngIf="registro1">
                        <apx-chart
                         [series]="reportegrafico1!.series"
                         [chart]="reportegrafico1.chart"
                         [labels]="reportegrafico1.labels"
                         [responsive]="reportegrafico1.responsive"
                        ></apx-chart>
                    </div>
                    <div *ngIf="!registro1">
                        <p class="chartvacio1">NO EXISTE REGISTRO PARA MOSTRAR EL GRAFICO</p>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%" class="p-2" style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;">
            <mat-card class="mat-card mat-focus-indicator">
                <mat-card-content>
                    <div>
                        <mat-card-title class="cardtitles">POSTULANTES SEGÚN TIPO DONACIÓN</mat-card-title>
                    </div>
                    <div style="flex-flow: row wrap; box-sizing: border-box; display: flex;">

                        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%" class="p-2" style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;">
                            <mat-form-field appearance="outline">
                                <mat-label>Fecha Inicio</mat-label>
                                <input matInput [matDatepicker]="fechaInicio2" placeholder="dd/mm/yyyy" [max]="fechaInicio2" 
                                [(ngModel)]="fechaSelectInicio2"  (dateChange)="onDateChange(2)">
                                <mat-datepicker-toggle matSuffix [for]="fechaInicio2"></mat-datepicker-toggle>
                                <mat-datepicker #fechaInicio2></mat-datepicker>
                              </mat-form-field>
                        </div>
                
                        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%" class="p-2" style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;">
                            <mat-form-field appearance="outline">
                                <mat-label>Fecha Fin</mat-label>
                                <input matInput [matDatepicker]="fechaFin2" placeholder="dd/mm/yyyy" [max]="fechaFin2" 
                                [(ngModel)]="fechaSelectFin2" (dateChange)="onDateChange(2)">
                                <mat-datepicker-toggle matSuffix [for]="fechaFin2"></mat-datepicker-toggle>
                                <mat-datepicker #fechaFin2></mat-datepicker>
                              </mat-form-field>
                        </div>                
                    </div>
                    <div id="chart" *ngIf="registro2">
                        <apx-chart
                         [series]="reportegrafico2!.series"
                         [chart]="reportegrafico2.chart"
                         [labels]="reportegrafico2.labels"
                         [responsive]="reportegrafico2.responsive"
                        ></apx-chart>
                    </div>
                    <div *ngIf="!registro2">
                        <p class="chartvacio1">NO EXISTE REGISTRO PARA MOSTRAR EL GRAFICO</p>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%" class="p-2" style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;">
            <mat-card class="mat-card mat-focus-indicator">
                <mat-card-content>
                    <div>
                        <mat-card-title class="cardtitles">POSTULANTES SEGÚN TIPO DE DONACIÓN Y ESTADO</mat-card-title>
                    </div>
                    <div style="flex-flow: row wrap; box-sizing: border-box; display: flex;">

                        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%" class="p-2" style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;">
                            <mat-form-field appearance="outline">
                                <mat-label>Fecha Inicio</mat-label>
                                <input matInput [matDatepicker]="fechaInicio3" placeholder="dd/mm/yyyy" [max]="fechaInicio3" 
                                [(ngModel)]="fechaSelectInicio3"  (dateChange)="onDateChange(3)">
                                <mat-datepicker-toggle matSuffix [for]="fechaInicio3"></mat-datepicker-toggle>
                                <mat-datepicker #fechaInicio3></mat-datepicker>
                              </mat-form-field>
                        </div>
                
                        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%" class="p-2" style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;">
                            <mat-form-field appearance="outline">
                                <mat-label>Fecha Fin</mat-label>
                                <input matInput [matDatepicker]="fechaFin3" placeholder="dd/mm/yyyy" [max]="fechaFin3" 
                                [(ngModel)]="fechaSelectFin3" (dateChange)="onDateChange(3)">
                                <mat-datepicker-toggle matSuffix [for]="fechaFin3"></mat-datepicker-toggle>
                                <mat-datepicker #fechaFin3></mat-datepicker>
                              </mat-form-field>
                        </div>                
                    </div>
                    <div id="chart" *ngIf="registro3">
                        <apx-chart
                        [series]="reportegrafico3.series"
                        [chart]="reportegrafico3.chart"
                        [dataLabels]="reportegrafico3.dataLabels"
                        [plotOptions]="reportegrafico3.plotOptions"
                        [yaxis]="reportegrafico3.yaxis"
                        [legend]="reportegrafico3.legend"
                        [fill]="reportegrafico3.fill"
                        [stroke]="reportegrafico3.stroke"
                        [tooltip]="reportegrafico3.tooltip"
                        [xaxis]="reportegrafico3.xaxis"
                    ></apx-chart>
                    </div>
                    <div *ngIf="!registro3">
                        <p class="chartvacio2">NO EXISTE REGISTRO PARA MOSTRAR EL GRAFICO</p>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%" class="p-2" style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;">
            <mat-card class="mat-card mat-focus-indicator">
                <mat-card-content>
                    <div>
                        <mat-card-title class="cardtitles">UNIDADES EN MOVIMIENTO (Lotes)</mat-card-title>
                    </div>
                    <div style="flex-flow: row wrap; box-sizing: border-box; display: flex;">

                        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%" class="p-2" style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;">
                            <mat-form-field appearance="outline">
                                <mat-label>Fecha Inicio</mat-label>
                                <input matInput [matDatepicker]="fechaInicio4" placeholder="dd/mm/yyyy" [max]="fechaInicio4" 
                                [(ngModel)]="fechaSelectInicio4"  (dateChange)="onDateChange(4)">
                                <mat-datepicker-toggle matSuffix [for]="fechaInicio4"></mat-datepicker-toggle>
                                <mat-datepicker #fechaInicio4></mat-datepicker>
                              </mat-form-field>
                        </div>
                
                        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%" class="p-2" style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;">
                            <mat-form-field appearance="outline">
                                <mat-label>Fecha Fin</mat-label>
                                <input matInput [matDatepicker]="fechaFin4" placeholder="dd/mm/yyyy" [max]="fechaFin4" 
                                [(ngModel)]="fechaSelectFin4" (dateChange)="onDateChange(4)">
                                <mat-datepicker-toggle matSuffix [for]="fechaFin4"></mat-datepicker-toggle>
                                <mat-datepicker #fechaFin4></mat-datepicker>
                              </mat-form-field>
                        </div>                
                    </div>
                    <div id="chart2" *ngIf="registro4">
                        <apx-chart
                         [series]="reportegrafico4!.series"
                         [chart]="reportegrafico4.chart"
                         [labels]="reportegrafico4.labels"
                         [responsive]="reportegrafico4.responsive"
                        ></apx-chart>
                    </div>
                    <div *ngIf="!registro4">
                        <p class="chartvacio2">NO EXISTE REGISTRO PARA MOSTRAR EL GRAFICO</p>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%" class="p-2" style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;">
            <mat-card class="mat-card mat-focus-indicator">
                <mat-card-content>
                    <div>
                        <mat-card-title class="cardtitles">UNIDADES EN STOCK</mat-card-title>
                    </div>
                    <div style="flex-flow: row wrap; box-sizing: border-box; display: flex;">

                        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%" class="p-2" style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;">
                            <mat-form-field appearance="outline">
                                <mat-label>Fecha Inicio</mat-label>
                                <input matInput [matDatepicker]="fechaInicio5" placeholder="dd/mm/yyyy" [max]="fechaInicio5" 
                                [(ngModel)]="fechaSelectInicio5"  (dateChange)="onDateChange(5)">
                                <mat-datepicker-toggle matSuffix [for]="fechaInicio5"></mat-datepicker-toggle>
                                <mat-datepicker #fechaInicio5></mat-datepicker>
                              </mat-form-field>
                        </div>
                        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%" class="p-2" style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;">
                            <mat-form-field appearance="outline">
                                <mat-label>Fecha Fin</mat-label>
                                <input matInput [matDatepicker]="fechaFin5" placeholder="dd/mm/yyyy" [max]="fechaFin5" 
                                [(ngModel)]="fechaSelectFin5" (dateChange)="onDateChange(5)">
                                <mat-datepicker-toggle matSuffix [for]="fechaFin5"></mat-datepicker-toggle>
                                <mat-datepicker #fechaFin5></mat-datepicker>
                              </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="fill">
                                <mat-label>Tipo de Stock</mat-label>
                                <mat-select [(ngModel)]="curTipoStock" (selectionChange)="updateTipoStock($event.value)" name="food">
                                  <mat-option *ngFor="let tipo of cboTipoStock" [value]="tipo.ideGrafico">
                                    {{tipo.descripcion}}
                                  </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div> 
                    </div>
                    <div *ngIf="registro5">
                        <table class="tabla-stock" rules="all">
                            <tr>                          
                              <th class="celda-stock" scope="row">\</th>                          
                              <th class="celda-stock" *ngFor="let tipo of tiposSangre">{{tipo}}</th>                          
                            </tr>                          
                            <tr *ngFor="let label of arrayLabel5; let i = index">                          
                              <th class="celda-stock">{{label}}</th>                          
                              <td class="celda-stock" *ngFor="let cant of arraySeries5![i]">{{cant}}</td>                          
                            </tr>                          
                          </table>
                    </div>
                    <div *ngIf="!registro5">
                        <p class="chartvacio2">NO EXISTE REGISTRO PARA MOSTRAR LA TABLA</p>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        
    </div>

    <mat-divider></mat-divider>

    <div style="flex-flow: row wrap; box-sizing: border-box; display: flex;">
        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%" class="p-2" style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;">
            <mat-card class="cardborde">   
                <mat-toolbar class="cardtitle1">
                    <h3 class="title-label"> LISTA POSTULANTES </h3>
                </mat-toolbar>
                <form>     

                  <div class="example-container mat-elevation-z0">
                    
                  </div>
            
                </form>    
              </mat-card>
        </div>

        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%" class="p-2" style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;">
            <mat-card class="cardborde">   
                <mat-toolbar class="cardtitle2">
                    <h3 class="title-label"> LISTA POSTULANTES LIGTH</h3>
                </mat-toolbar>
                <form>     

                  <div class="example-container mat-elevation-z0">
                    
                  </div>
            
                </form>    
              </mat-card>
        </div>

    </div>
</div>
