/* .mat-form-field-flex > .mat-form-field-infix { padding: 0.5em 0px !important;}
.mat-form-field-label-wrapper { top: -1.5em; }

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
} */

#chart {
    max-width: 380px;
    margin: 8px auto;
    padding: 0;
  }  

.p-2 {
    padding: 0.5rem!important;
}

.tile {
    text-align: right;
}

.tile .mat-icon {
    position: absolute;
    left: 4px;
    top: 50%;
    line-height: 0;
    font-size: 54px;
    /* opacity: .3; */
}

.mat-divider{
    margin: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.app.indigo-light .mat-card {
    background: white;
    color: #000000de;
}

.cardtitles{
    font-size:initial;
    font-weight:500;
    color: #0000008a;
}


.title-label {
    text-align: center;
    color: #fff;
    padding-top: 4px;
}
.mat-toolbar.cardtitle1 {
    height:50px;
    background: #881439cc;
}

.mat-toolbar.cardtitle2 {
    height:50px;
    background: #75155ccf;
}

.m-section__title {
    margin: 0 9px 15px;
    color: #681575;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.15;
}

.m-section__title2 {
    color: #9b1417;
    font-size: 26px;
    font-weight: 500;
}



.gradient-green {
    background: #2E7D32!important;
    background: linear-gradient(50deg,#C5D429,#2E7D32)!important;
    color: #fff!important;
}

.gradient-red {
    background: #D50000!important;
    background: linear-gradient(50deg,#FF9E80,#D50000)!important;
    color: #fff!important;
}

.gradient-orange {
    background: #FF7043!important;
    background: linear-gradient(50deg,#ffd86f,#FF7043)!important;
    color: #fff!important;
}

.gradient-pink {
    background: #E91E63!important;
    background: linear-gradient(50deg,#F59E99,#E91E63)!important;
    color: #fff!important;
}

.gradient-gray {
    background: #263238!important;
    background: linear-gradient(50deg,#8EF9FE,#263238)!important;
    color: #fff!important;
}

.gradient-brown {
    background: #5D4037!important;
    background: linear-gradient(50deg,#FA9151,#5D4037)!important;
    color: #fff!important;
}

