<h3 mat-dialog-title>BÚSQUEDA</h3>

<mat-dialog-content class="modal">

  <mat-grid-list cols="12" rowHeight="75px" gutterSize="15px">
    <mat-grid-tile  [colspan]="6">
      <mat-form-field appearance="outline">
        <mat-label>Código</mat-label>
        <input [(ngModel)]="codigo" matInput placeholder="Código" #input (keyup.enter)="buscar()">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile  [colspan]="6">
      <mat-form-field appearance="outline">
        <mat-label>Unidad</mat-label>
        <input [(ngModel)]="unidad" matInput placeholder="Unidad" #input (keyup.enter)="buscar()">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="12" rowHeight="75px" gutterSize="15px">
    <mat-grid-tile  [colspan]="12">
      <mat-form-field appearance="outline">
        <mat-label>Paciente</mat-label>
        <input #PACIENTE [(ngModel)]="paciente" matInput placeholder="Paciente" #input (keyup.enter)="buscar()">
        <button *ngIf="PACIENTE.value" type="button" matSuffix mat-icon-button aria-label="Limpiar" (click)="PACIENTE.value=''; paciente = ''">
          <mat-icon>close</mat-icon>
        </button>
        <button type="button" matSuffix mat-icon-button aria-label="Buscar">
          <mat-icon>search</mat-icon>
        </button>        
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="12" rowHeight="75px" gutterSize="15px">
    <mat-grid-tile  [colspan]="6">
      <mat-form-field appearance="outline">
        <mat-label>Prioridad</mat-label>
        <mat-select 
        [(ngModel)]="idprioridad"
        (selectionChange)="selectprioridad($event.value)"
        >
          <mat-option *ngFor="let el of listaPrioridad" [value]="el.codigo">{{el.descripcion}}</mat-option>  
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile  [colspan]="6">
      <mat-form-field appearance="outline">
        <mat-label>Estado</mat-label>
        <mat-select 
        placeholder="Estado"
        [(ngModel)]="idestado"
        (selectionChange)="selectestado($event.value)"
        >
        <mat-option *ngFor="let el of listaEstado" [value]="el.codigo">{{el.descripcion}}</mat-option>  
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  
  <mat-grid-list cols="12" rowHeight="75px" gutterSize="15px">
    <mat-grid-tile  [colspan]="6">
      <mat-form-field appearance="outline">
        <mat-label>Fecha Inicio</mat-label>
        <input matInput [matDatepicker]="fechaInicio" placeholder="dd/mm/yyyy" [max]="fechaInicio" 
        [(ngModel)]="fechaSelectInicio"  (dateChange)="onDateChange()" [max]="fechaMax">
        <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
        <mat-datepicker #fechaInicio></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile  [colspan]="6">
      <mat-form-field appearance="outline">
        <mat-label>Fecha Fin</mat-label>
        <input matInput [matDatepicker]="fechaFin" placeholder="dd/mm/yyyy" [max]="fechaFin" 
        [(ngModel)]="fechaSelectFin" (dateChange)="onDateChange()" [max]="fechaMax">
        <mat-datepicker-toggle matSuffix [for]="fechaFin"></mat-datepicker-toggle>
        <mat-datepicker #fechaFin></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</mat-dialog-content>

<div class="btnModal" align="end">
  <button mat-stroked-button class="btnRed" mat-dialog-close><mat-icon>close</mat-icon>Cerrar</button> 
  <button mat-stroked-button class="btnYellow"(click)="limpiar()"><mat-icon>cleaning_services</mat-icon>Limpiar</button>
  <button mat-stroked-button class="btnBlue" (click)="buscar()"><mat-icon>search</mat-icon>Buscar</button>
</div>