<h2 mat-dialog-title>BUSQUEDA</h2>

<mat-dialog-content class="mat-typography">

  <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Búsqueda" #input>
      <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-select 
    placeholder="Banco"
    [(ngModel)]="codigo"
    (selectionChange)="selectbanco($event.value)"
    >
    <mat-option *ngFor="let el of listaBanco" [value]="el.codigo">
      {{el.descripcion}}
    </mat-option>  
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-select 
    placeholder="Origen"
    [(ngModel)]="codigo"
    (selectionChange)="selectbanco($event.value)"
    >
    <mat-option *ngFor="let el of listaOrigen" [value]="el.codigo">
      {{el.descripcion}}
    </mat-option>  
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-select 
    placeholder="Estado"
    [(ngModel)]="codigo"
    (selectionChange)="selectbanco($event.value)"
    >
    <mat-option *ngFor="let el of listaEstado" [value]="el.codigo">
      {{el.descripcion}}
    </mat-option>  
    </mat-select>
  </mat-form-field>
  
  <mat-form-field appearance="outline">
    <mat-label>Fecha Inicio</mat-label>
    <input matInput [matDatepicker]="fechaInicio" placeholder="dd/mm/yyyy" [max]="fechaInicio" 
    [(ngModel)]="fechaSelectInicio"  (dateChange)="onDateChange()">
    <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
    <mat-datepicker #fechaInicio></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Fecha Fin</mat-label>
    <input matInput [matDatepicker]="fechaFin" placeholder="dd/mm/yyyy" [max]="fechaFin" 
    [(ngModel)]="fechaSelectFin" (dateChange)="onDateChange()">
    <mat-datepicker-toggle matSuffix [for]="fechaFin"></mat-datepicker-toggle>
    <mat-datepicker #fechaFin></mat-datepicker>
  </mat-form-field>

</mat-dialog-content>
<!-- <mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions> -->


  


